<%- layout('layouts/main')%>
<link href="/public/css/estilo_login.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lovers+Quarrel" rel="stylesheet">

<link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="css/animate.css">

<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
<link rel="stylesheet" href="css/magnific-popup.css">

<link rel="stylesheet" href="css/aos.css">

<link rel="stylesheet" href="css/ionicons.min.css">

<link rel="stylesheet" href="css/bootstrap-datepicker.css">
<link rel="stylesheet" href="css/jquery.timepicker.css">


<link rel="stylesheet" href="css/flaticon.css">
<link rel="stylesheet" href="css/icomoon.css">
<link rel="stylesheet" href="css/style.css">

<p class="centrado">
<img src="/images/about.jpg" width="1100"  height="530">
</p>

<div class="row">
    <div class="col-xs-7 col-md-6" >
      <div class="card mt-5 text-center" style="background-color: #e5e3eb">
      <div class="card.header" >
        <h2> </h2>
        <h2> </h2>
        <h2> Ingresar </h2>
            <div class="card-body">
      <form action="/signin" method="POST" >
        <div class="form-group">
      <input type="email" name="email" placeholder="Email" class="form-control">
      <input type="password" name="password" placeholder="Password" class="form-control">
      <button type="submit" class="btn btn-primary btn-block mt-4">
        Sign-in
      </button>
    </form>
  </div>  
</div>
</div>
</div>
</div>  
